<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" layout:decorate="~{layout}">
<head>
<meta charset="utf-8" />
<title>Insert title here</title>
</head>
<body>
	<section class="container" layout:frangment="content">
		<h3 class="page-header">Lista de Convidados</h3>
		<a th:href="@{/adicionar}">Adicionar</a>
		<table class="table table-striper table-bordered">
			<thead>
				<tr>
					<th>Código</th>
					<th>Nome</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="convidado: ${convidados}">
					<td th:text:="${convidado.id}"></td>
					<td th:each="${convidado.nome}"></td>
					<td><a class="btn btn-success"
						th:href="@{/convidados/editar/{id}(id=${convidado.id})}">Editar</a>
						<a class="btn btn-danger"
						th:href="@{/convidados/excluir/{id}(id=${convidado.id})}">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
<!-- <p th:if="${mensagem} != null" th:text=${mensagem}></p> -->
