<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width">

<title>Lista de Convidados</title>
<link th:href="@{webjars/bootstrap/css/bootstrap/min.css}"
	rel="stylesheet" />
<link th:href="@{webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<script th:scr="@{/webjars/jquery/jquery.min.js}"></script>
<script th:scr="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

	<h1>Likeily Medeiros</h1>

</body>
</html>